
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ChatRoom</title>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery.signalR-2.1.2.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script type="text/javascript">
        var userId = "";
        $(function () {

            $('#UserName').val(prompt('Enter your name:', ''));

            var $inp = $("input:text");
            $inp.bind("keydown", function (e) {
                var key = e.which;
                if(key == 13)
                {
                    $("#send").click();
                }
            });
            userId = $("#UserName").val();
            //创建与server端的Hub的连接对象，注意hub的开头字母必须是小写
            var chat = $.connection.chatHub;
            //取得所有线上人员列表
            chat.client.getList = function (userList) {
                var li = "";
                $.each(userList, function (index, data) {
                    li += "<li id='" + data.id + "' onclick='selectuser(this)'>" + data.name + "</li>";
                })
                $("#list").html(li);
            }
            //新增一名人员
            chat.client.addList = function (id, name) {
                var li = "<li id='" + id + "' onclick='selectuser(this)'>" + name + "</li>";
                $("#list").append(li);
            }
            //移除一名人员
            chat.client.removeList = function (id) {
                $("#" + id).remove();
            }
            //所有人发送信息
            chat.client.sendAllMessage = function (message) {
                $("#messageList").append("<li>" + message + "</li>");
            }
            //私密聊天
            chat.client.sendMessage = function (message) {
                $("#messageList").append("<li>" + message + "</li>");
            }
            chat.client.hello = function (message) {
                $("#messageList").append("<li>" + message + "</li");
            }
            //将连线打开
            $.connection.hub.start().done(function () {
                //连线完成后执行下面代码
                chat.server.userConnected(userId);
            });

            $("#send").click(function () {
                var to = $("#box").val();
                if (to == "all") {
                    chat.server.sendAllMessage($("#message").val());
                }
                else {
                    chat.server.sendMessage(to, $("#message").val());
                }
                $("#message").val("");
            });

           
        });

        function selectuser(obj) {
            var $this = $(obj);
                var id = $this.attr("id");
                var text = $this.text();

                //防止重複加入密語清單
                if ($("#box").has("." + id).length > 0) {
                    $("#box").val(id);
                    return false;
                }
                var option = "<option></option>"
                $("#box").append(option).find("option:last").val(id).text(text).attr({ "selected": "selected" }).addClass(id);
        }

    </script>

    <style type="text/css">
        li { list-style:none;}
        #list li:hover { cursor:pointer; color:orange;}
        #messageList li:hover{ background-color:orange;}
    </style>
</head>
<body>
    <fieldset >
        <legend>在线交流系统</legend>
        <div style="height:800px;">
            <div id="chatList" style="float: left; width: 10%; border-right: 1px solid #ccc; height: 800px; overflow-y:scroll;">
                <p>当前在线</p>
                <ul id="list"></ul>
            </div>
            <div id="messageBox" style="width:85%; float:right;height:800px; overflow-y:scroll;">
                <ul id="messageList"></ul>
            </div>
            
        </div>
        <div id="bar">
            <div style="margin-top:6px;float:left; margin-left:200px;">
                <select id="box">
                    <option value="all">所有人</option>
                </select>
            </div>
            <div style="margin:5px;float:left;">
                <input id="message" type="text" value="" />
            </div>
            <div style="margin:5px;float:left;">
                <input type="button" id="send" value="发送" class="btn btn-success"  />(回车键快速发送)
            </div>
        </div>

        <input type="hidden" id="UserName" value=""/>

    </fieldset>
</body>
</html>
